SQUARE_ENVIRONMENT=sandbox
SQUARE_SANDBOX_ACCESS_TOKEN=
SQUARE_SANDBOX_APPLICATION_ID=
SQUARE_SANDBOX_LOCATION_ID=
SQUARE_PRODUCTION_ACCESS_TOKEN=
SQUARE_PRODUCTION_APPLICATION_ID=
SQUARE_PRODUCTION_LOCATION_ID=
SQUARE_WEBHOOK_SIGNATURE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/kkkustomcreations?schema=public
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me
